.trending-main-container {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.trending-items-container {
  display: flex;
  flex-direction: row;
}
.ul-trending-container {
  height: 100vh;
  overflow-y: scroll;
}

.trend-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 8px;
}
.bg-dark {
  background-color: #231f20;
  color: #ffffff;
}
.bg-light {
  background-color: #ffffff;
  color: #181818;
}
.loader-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
